.test{

}

.list{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content:center;

}

html { font-family: "Inter", "system-ui"; }
@supports (font-variation-settings: normal) {
    html { font-family: "InterVariable", "system-ui"; } /* If using the variable font */
}
.h2test{
    display: flex;
    color: #5e5e5e;
    font-size: 26px ;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 28px;
    text-align: center;
    width: 318px;
    margin-left: 35px;
}
.h3test{
    display: flex;
    color: #5e5e5e;
    font-size: 18px ;
    text-align: center;
    width: 372px;
    justify-content: center;
    margin-top: 38px;
    margin-left: 10px;

}

.selectPage5 {
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 25px;
    width: 390px;
    margin-left: 20px;
    height: 54px;
    text-decoration: none;
    color: #5e5e5e;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(33, 153, 119, 1);
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;

}
.but{
    padding: 10px 15px;
    margin-top: 150px;
    margin-left: 70px;
    border-radius: 500px;
    background: rgba(78, 183, 153, 1);
    color:  #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 200px;
    text-align: center;

    text-decoration: none;
    height: 50px;
    letter-spacing: 1px;


}










