.button2{
    padding: 10px 15px;
    border-radius: 500px;
    background: rgba(78, 183, 153, 1);
    color:  #FFFFFF;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}




