html { font-family: "Inter", "system-ui"; }
@supports (font-variation-settings: normal) {
    html {
        font-family: "InterVariable", "system-ui";
    }
}


.h3Form{
    display: flex;
    color: #5e5e5e;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

}
.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;

}
.selectForm {
    padding: 10px;
    margin-top: 15px;
    color: #5e5e5e;

}
